<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac"/>
  </configSections>
  <autofac defaultAssembly="Autofac.Tests.V1Compatibility">
    <components>
      <component type="Autofac.Tests.V1Compatibility.Configuration.ConfigurationSettingsReaderFixture+B" scope="factory" />
    </components>
  </autofac>
</configuration>