<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="portable-net40+sl50+win+wpa81+wp80" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.2.1" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="MvvmCross.PortableSupport" version="3.2.1" targetFramework="portable-net45+win+wpa81+wp80" />
</packages>
