<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="portable-net40+sl50+win+wp80" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1" targetFramework="portable-win+net45+sl50+wp8+MonoAndroid+MonoTouch" />
  <package id="MvvmCross.PortableSupport" version="3.1.1" targetFramework="portable-win+net45+sl50+wp8+MonoAndroid+MonoTouch" />
</packages>
