<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="Autofac.Tests.Configuration">
    <components>
      <component type="System.Object" service="System.Object" name="a" auto-activate="yes"/>
      <component type="System.Object" service="System.Object" name="b"/>
    </components>
  </autofac>
</configuration>