<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac>
    <files>
      <!--
        The path is relative to the executable, not relative to the config file.
        Three use cases to test:
        * app.config format file with a specified section name.
        * app.config format file with the default section name.
        * Standalone XML file that is not in app.config format.
      -->
      <file name="Files/RefereeConfigurationSpecifiedName.config" section="sectionName" />
      <file name="Files/RefereeConfigurationDefaultName.config" />
      <file name="Files/RefereeXml.config" />
    </files>
  </autofac>
</configuration>