<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="mscorlib">
    <components>
      <!-- Don't change the name of this component - assertions are made based on it. -->
      <component type="System.Object" service="System.Object" name="b" />
    </components>
  </autofac>
</configuration>