<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Autofac.Tests.Configuration">
    <modules>
      <module type="Autofac.Tests.Configuration.ConfigurationSettingsReaderFixture+ParameterizedModule">
        <parameters>
          <parameter name="message" value="First" />
        </parameters>
      </module>
      <module type="Autofac.Tests.Configuration.ConfigurationSettingsReaderFixture+ParameterizedModule">
        <parameters>
          <parameter name="message" value="Second" />
        </parameters>
      </module>
    </modules>
  </autofac>
</configuration>
