<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
    This configuration file shows five concepts at once:
    * Single-instance lifetime scope registration.
    * One type registered as two different services.
    * Constructor parameter injection.
    * Property injection for specific properties with provided values.
    * Type conversion of properties (string to bool).
  -->
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="Autofac.Tests.Configuration">
    <components>
      <component type="Autofac.Tests.Configuration.ConfigurationSettingsReaderFixture+SimpleComponent"
                 instance-scope="single-instance">
        <services>
          <service type="System.Object, mscorlib" />
          <service type="Autofac.Tests.Configuration.ConfigurationSettingsReaderFixture+ITestComponent" />
        </services>
        <parameters>
          <parameter name="input" value="1" />
        </parameters>
        <properties>
          <property name="Message" value="hello" />
          <property name="ABool" value="true" />
        </properties>
      </component>
    </components>
  </autofac>
</configuration>