<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    </configSections>
    <autofac defaultAssembly="Autofac.Tests.Configuration">
        <components>
            <component type="Autofac.Tests.Configuration.TypeManipulationFixture+HasDictionaryProperty">
                <properties>
                    <property name="Dictionary">
                        <dictionary>
                            <item key="a" value="1"/>
                            <item key="b" value="2"/>
                        </dictionary>
                    </property>
                </properties>
            </component>
            <component type="Autofac.Tests.Configuration.TypeManipulationFixture+HasEnumerableProperty">
                <properties>
                    <property name="List">
                        <list>
                            <item value="1"/>
                            <item value="2"/>
                        </list>
                    </property>
                </properties>
            </component>
            <component type="Autofac.Tests.Configuration.TypeManipulationFixture+HasParametersAndProperties">
                <parameters>
                    <parameter name="parameter" value="1" />
                </parameters>
                <properties>
                    <property name="Property" value="2" />
                </properties>
            </component>
        </components>
    </autofac>
</configuration>