; EditorConfig to support per-solution formatting.
; Use the EditorConfig VS add-in to make this work.
; http://editorconfig.org/

; This is the default for the codeline.
root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

; .NET Code - match defaults for VS
[*.{cs,csx,vb,vbx}]
indent_size = 4
charset = utf-8-bom

; .NET project files and MSBuild - match defaults for VS
[*.{csproj,nuspec,proj,projitems,props,shproj,targets,vbproj,vcxproj,vcxproj.filters,vsixmanifest,vsct}]
indent_size = 2

; .NET solution files - match defaults for VS
[*.sln]
indent_style = tab

; Config - match XML and default nuget.config template
[*.config]
indent_size = 2

; Resources - match defaults for VS
[*.resx]
indent_size = 2

; Static analysis rulesets - match defaults for VS
[*.ruleset]
indent_size = 2

; HTML, XML - match defaults for VS
[*.{cshtml,html,xml}]
indent_size = 4

; JavaScript and JS mixes - match eslint settings; JSON also matches .NET Core templates
[*.{js,json,ts,vue}]
indent_size = 2

; Markdown - match markdownlint settings
[*.{md,markdown}]
indent_size = 2

; PowerShell - match defaults for New-ModuleManifest and PSScriptAnalyzer Invoke-Formatter
[*.{ps1,psd1,psm1}]
indent_size = 4
charset = utf-8-bom

; ReStructuredText - standard indentation format from examples
[*.rst]
indent_size = 2
