<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <!--<<add key="CI Builds (aspnetvnext)" value="https://www.myget.org/F/aspnetvnext/" />
    <add key="CI Builds (aspnetcidev)" value="http://myget.org/F/aspnetcidev" />
    <add key="CI Builds (dotnet-cli)" value="https://dotnet.myget.org/F/dotnet-cli/" />
    <add key="CI Builds (dotnet-core)" value="https://dotnet.myget.org/F/dotnet-core/" />
    add key="CI Builds (xunit)" value="https://www.myget.org/F/xunit/" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--<add key="nugetbuild" value="https://www.myget.org/F/nugetbuild/api/v3/index.json" />-->
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>