<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />
    <add key="AspNetMaster" value="https://www.myget.org/F/aspnetmaster/api/v2" />
    <add key="Autofac MyGet" value="https://www.myget.org/F/autofac/api/v2" />
    <add key="xUnit.net" value="https://www.myget.org/F/xunit/api/v2/" />
    <add key="NuGet v2" value="https://www.nuget.org/api/v2" />
    <add key="NuGet v3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="AspNetVNext" value="true" />
    <add key="AspNetMaster" value="true" />
    <add key="Autofac MyGet" value="true" />
    <add key="NuGet v3" value="true" />
  </disabledPackageSources>
</configuration>
