<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="calculator" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <calculator defaultAssembly="Calculator.Api">
    <components>
      <component
				type="Calculator.Operations.Add, Calculator.Operations"
				member-of="operations" />

      <component
				type="Calculator.Operations.Divide, Calculator.Operations"
				member-of="operations" >
        <parameters>
          <parameter name="places" value="4" />
        </parameters>
      </component>

    </components>
  </calculator>

</configuration>