<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.8.0" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.6.0" targetFramework="net45" />
  <package id="Glimpse.Mvc5" version="1.5.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>