<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.6.1" targetFramework="net40" />
  <package id="Glimpse.AspNet" version="1.4.1" targetFramework="net40" />
  <package id="Glimpse.Mvc4" version="1.3.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
</packages>