<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net45" />
  <package id="Autofac.Extras.DomainServices" version="3.0.1" targetFramework="net45" />
  <package id="Autofac.Mvc5" version="3.3.0" targetFramework="net45" />
  <package id="Autofac.Web" version="3.2.0" targetFramework="net45" />
  <package id="Glimpse" version="1.8.1" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.7.0" targetFramework="net45" />
  <package id="Glimpse.Mvc5" version="1.5.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>