
body 
{
    background: #F9F9F7;
    font-size:medium;
    font-family: "trebuchet ms", helvetica, sans-serif;
    color: #000000;
}

p
{
    margin-bottom: 14px;
    text-align: justify;
}

#inner 
{
    padding: 13px 30px 13px 30px;
}

#header
{
    position: relative;
    background: #FF7800;
    margin-bottom:0px;
    height: 55px;
    color: #fff;
    padding-left: 20px;
}

#header h1
{
    font-weight:normal;
    font-size: 23px;
    padding-top:12px;
}

#menu
{
    position: relative;
    background: #46461F;
    height: 47px;
    padding-left:5px;
}

#menu ul li
{
    display: inline;
    line-height: 52px;
    padding-left: 3px;
}

#menu ul li.first
{
    border-left: 0px;
}

#menu ul li a
{
    background-color: transparent;
    padding: 6px 12px 8px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

#menu ul li a:hover
{
    background: #fff;
    color: #4A4A24;
    text-decoration: none;
}

#maincontent
{
    position:relative;
    padding:10px 3px 10px 3px;
}