<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="String.StringSetting" value="Autofac rocks!"/>
		<add key="Uri.UriSetting" value="http://autofac.org"/>
		<add key="Invalid.Setting" value="Bwahahaha!!!!" />
		<add key="SettingWithoutDot" value="Bwahahaha!!!!"/>
	</appSettings>
</configuration>