<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sectionName" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <sectionName defaultAssembly="mscorlib">
    <components>
      <component type="System.Object" service="System.Object" name="a" />
    </components>
  </sectionName>
</configuration>