<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="net40" />
  <package id="Autofac.Extras.Multitenant" version="3.1.1" targetFramework="net40" />
  <package id="Autofac.Extras.Multitenant.Wcf" version="3.1.1" targetFramework="net40" />
  <package id="Autofac.Wcf" version="3.0.1" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net40" />
</packages>