<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="Autofac.Tests.Configuration">
    <components>
      <component type="Autofac.Tests.Configuration.DictionaryParametersFixture+A">
        <properties>
          <property name="Dictionary">
            <dictionary>
              <item key="1" value="Val1"/>
              <item key="2" value="Val2"/>
            </dictionary>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.DictionaryParametersFixture+B">
        <parameters>
          <parameter name="dictionary">
            <dictionary>
              <item key="1" value="Val1"/>
              <item key="2" value="Val2"/>
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component type="Autofac.Tests.Configuration.DictionaryParametersFixture+C">
        <properties>
          <property name="Dictionary">
            <dictionary>
              <item key="1" value="Val1"/>
              <item key="2" value="Val2"/>
            </dictionary>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.DictionaryParametersFixture+D">
        <properties>
          <property name="Dictionary">
            <dictionary>
              <item key="1" value="Val1"/>
              <item key="2" value="Val2"/>
            </dictionary>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.DictionaryParametersFixture+E">
        <properties>
          <property name="Dictionary">
            <dictionary>
              <item key="1" value="Val1"/>
              <item key="2" value="Val2"/>
            </dictionary>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.DictionaryParametersFixture+F">
        <properties>
          <property name="Dictionary">
            <dictionary>
              <item key="1" value="1"/>
              <item key="2" value="2"/>
            </dictionary>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.DictionaryParametersFixture+G">
        <properties>
          <property name="Dictionary">
            <dictionary>
            </dictionary>
          </property>
        </properties>
      </component>
    </components>
  </autofac>
</configuration>