<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="Autofac.Tests.Configuration">
    <components>
      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+A">
        <properties>
          <property name="List">
            <list>
              <item value="Val1"/>
              <item value="Val2"/>
            </list>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+B">
        <properties>
          <property name="List">
            <list>
              <item value="1"/>
              <item value="2"/>
            </list>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+C">
        <properties>
          <property name="List">
            <list>
              <item value="1"/>
              <item value="2"/>
            </list>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+D">
        <properties>
          <property name="Num" value="123"/>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+E">
        <parameters>
          <parameter name="list">
            <list>
              <item value="1"/>
              <item value="2"/>
            </list>
          </parameter>
        </parameters>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+F">
        <properties>
          <property name="List">
            <list>
            </list>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+G">
        <properties>
          <property name="Enumerable">
            <list>
              <item value="Val1"/>
              <item value="Val2"/>
            </list>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+H">
        <properties>
          <property name="Enumerable">
            <list>
              <item value="1"/>
              <item value="2"/>
            </list>
          </property>
        </properties>
      </component>

      <component type="Autofac.Tests.Configuration.EnumerableParametersFixture+I">
        <properties>
          <property name="Collection">
            <list>
              <item value="1"/>
              <item value="2"/>
            </list>
          </property>
        </properties>
      </component>
    </components>
  </autofac>
</configuration>