<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="mscorlib">
    <components>
      <component type="System.Object" service="System.Object" name="a">
        <metadata>
          <metadata name="answer" value="42" type="System.Int32" />
        </metadata>
      </component>
    </components>
  </autofac>
</configuration>