name: dotnet format
on:
  workflow_call:
jobs:
  dotnet-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: dotnet format
        run: dotnet format Autofac.sln --verify-no-changes
