name: Publish
on:
  workflow_call:
    secrets:
      NUGET_API_KEY:
        description: Token for publishing packages to NuGet.
        required: true
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Download package artifacts
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: artifacts/packages
      - name: Publish to GitHub Packages
        run: |
          dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/autofac/index.json"
          dotnet nuget push ./artifacts/packages/*.nupkg --skip-duplicate --source github --api-key ${{ secrets.GITHUB_TOKEN }}
          dotnet nuget push ./artifacts/packages/*.snupkg --skip-duplicate --source github --api-key ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to NuGet
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          dotnet nuget push ./artifacts/packages/*.nupkg --skip-duplicate --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
